# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdm.toml
*.pdm.lock

# Django
*.log
*.pot
*.pyc
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Virtualenv
venv/
env/
ENV/
.venv/
.env/

# VS Code
.vscode/

# PyCharm
.idea/

# macOS
.DS_Store

# System files
Thumbs.db
ehthumbs.db
desktop.ini

# Migrations (optional - keep if you want to ignore generated migrations)
# **/migrations/
# !**/migrations/__init__.py

# Pipenv / Poetry
Pipfile.lock
poetry.lock

# Coverage reports
htmlcov/
.coverage
.tox/
.nox/
.cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Docker (optional)
*.log
*.pid
*.seed
*.pid.lock
